{% extends "base.html" %} {% block content %}
<ul class="product-list">
  {% for product in page_obj%}
  <li class="product-item">
    <img src={{product.display_image}} alt="Product 1" />
    <h3>{{product.title}}</h3>
    <span class="price">£{{product.price}}</span>
  </li>
  {%endfor%}

  <div class="pagination">
  {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
  {% endif %}

  <span class="current-page">{{ page_obj.number }}</span>

  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
  {% endif %}
<style>
  .product-item {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  .product-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .product-item h3 {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
  }

  .product-item .price {
    display: block;
    margin-top: 5px;
    font-size: 1.1em;
    font-weight: bold;
    color: #f60;
  }

  .product-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .product-item:hover::before {
    opacity: 1;
  }
</style>
{% endblock content %}
