{% extends "base.html" %} {% block content%}
<style>
  body {
    background: #7ed6df;
    transition: 0.6s linear;
  }
  j .shoes-card {
    width: 400px;
    background: #ecedef;
    padding: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
  }
  .shoes-card h1 {
    font-size: 22px;
    margin-bottom: 4px;
  }
  .shoes-card p {
    font-size: 13px;
    color: #bbb;
  }
  .shoes-pic {
    background-image: url(1.png);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: 0.6s linear;
  }
  .shoes-colors {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }

  .shoes-colors span {
    width: 14px;
    height: 14px;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
  }
  .blue {
    background: #7ed6df;
  }
  .green {
    background: #badc58;
  }
  .yellow {
    background: #f9ca24;
  }
  .rose {
    background: #ff7979;
  }

  .shoes-colors .active:after {
    content: "";
    width: 22px;
    height: 22px;
    border: 2px solid #8888;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    left: -4px;
    top: -4px;
  }
  .shoes-info {
    display: flex;
    align-items: center;
  }
  .shoes-price {
    color: #7ed6df;
    font-size: 26px;
  }
  .shoes-button {
    margin-left: auto;
    color: #7ed6df;
    text-decoration: none;
    border: 2px solid;
    padding: 8px 24px;
    border-radius: 20px;
    transition: 0.4s linear;
  }

  .shoes-button:hover {
    transform: scale(1.06);
  }
</style>
<div class="body">
  <div class="shoes-card">
    <h1>Original Color Shoes</h1>
    <p>Shoes with different color and background</p>
    <div class="shoes-pic"></div>
    <div class="shoes-colors">
      <span
        class="blue active"
        data-color="#7ed6df"
        data-pic="url(https://i.imgur.com/oRpXTOq.png)"
      ></span>
      <span
        class="green"
        data-color="#badc58"
        data-pic="url(https://i.imgur.com/iyx4e9c.png)"
      ></span>
      <span
        class="yellow"
        data-color="#f9ca24"
        data-pic="url(https://i.imgur.com/kzsklN4.png)"
      ></span>
      <span
        class="rose"
        data-color="#ff7979"
        data-pic="url(https://i.imgur.com/iVJjW92.png)"
      ></span>
    </div>
    <div class="shoes-info">
      <div class="shoes-price">$90</div>
      <a href="#" class="shoes-button">Add to Cart</a>
    </div>
  </div>
</div>
{% endblock %}
