{% extends "base.html" %} {% block content %}
<ul class="product-list">
  {% for product in page_obj%}
<a href="{% url 'products_detail' id=product.asin %}">
  <li class="product-item">
    <img src={{product.display_image}} alt="Product 1" />
    <h3>{{product.title}}</h3>
    <span class="price">£{{product.price}}</span>
  </li>
  </a>
  {%endfor%}

  <div class="pagination">
  {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
  {% endif %}

  <span class="current-page">{{ page_obj.number }}</span>

  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
  {% endif %}
<style>
</style>
{% endblock content %}
