{% extends "base.html" %} {% block content %} {% load static%}
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
<style>
.main-photo {
  background-image: url("{% static 'images/shoes.jpeg' %}");
  background-size: cover;
  width: 100%;
  height: 550px;
}
</style>

{% csrf_token %}
  {% if not page_obj.has_previous %}
  {% if queried %}
      <div class="main-photo"></div>
      {% endif %}
  {% endif %}
<section class="section-products">
		<div class="container">
				<div class="row justify-content-center text-center">
						<div class="col-md-8 col-lg-6">
								<div class="header">
										<h3>Featured Product</h3>
										<h2>Popular Products</h2>
								</div>
						</div>
				</div>
				<div class="row">

  {% for product in page_obj%}
						<!-- Single Product -->
						<div class="col-md-6 col-lg-4 col-xl-3">
								<div id="product-1" class="single-product">
                    <div class="part-1" style="background: url('{{ product.display_image}}') no-repeat center; background-size: contain">
												<ul>
                          <li><a data-product="{{ product.asin }}" data-action="add" class = "update-cart"><i class="fas fa-shopping-cart"></i></a></li>
                            <li><a href="{% url 'products_detail' id=product.asin %}" style = "margin-top:5px">View</a></li>
												</ul>
										</div>
										<div class="part-2">
                      <h3 class="product-title">{{product.title}}</h3>
                        <h4 class="product-price">£{{product.price}}</h4>
										</div>
								</div>
						</div>
            {% endfor %}

<div class="pagination">
  {% if page_obj.has_previous %}
    <a href="?page=1">First Page</a>
    <a href="?page={{ page_obj.previous_page_number }}">Prev</a>
  {% endif %}

  <span class="current-page">{{ page_obj.number }}</span>

  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
  {% endif %}
</div>
</section>
{% endblock content %}
